
<div class="row mx-auto">
  <h2 class="textcenter">Add Job</h2>
</div>

<!--  #f1="ngForm" -->
<form [formGroup]="signupForm"  (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="ajobtitle">Job Title</label>
          <input
            type="text"
            class="form-control"
            required
            placeholder="Job Title"
            [formControlName]="'userjobtitle'"
            name="userjobtitle"
          />
          <!--  [(ngModel)]="job.jobtitle" 
          -->
          <span *ngIf="jobtitleIsNotValid" class="help-block">
            Please enter valid job title
          </span>
        </div>
    
        <div class="form-group">
          <label for="a2jobcategory">Category</label>
          <!-- <input
            class="form-control"
            required
            [(ngModel)]="job.category"
          /> -->
          <select
          class="form-control"
          name="userjobcategory" id="checkthis"
          [formControlName]="'userjobcategory'"
        >
          <option value="Backend">Backend</option>
          <option value="Frontend">Frontend</option>
          <option value="FullStack">FullStack</option>
        </select>
        <!-- [(ngModel)]="job.category" -->
        </div>

        <div class="form-group">
          <label for="ajobid">Job Id</label>
          <input
            type="text"
            class="form-control"
            required
            placeholder="Job ID"
            [formControlName]="'userjobid'"
            name="userjobid"
          />
          <!-- [(ngModel)]="job.jobid"
          -->
          <span *ngIf=" jobIdIsNotValid " class="help-block" >
            Please enter a valid JobId
          </span>
          <!-- <span (click)="check()">check</span> -->

        <!-- <span
        *ngIf="
          !signupForm.get('userData.userjobid')?.valid &&
          signupForm.get('userData.userjobid')?.touched && 
          jobIdIsValid
        "
        class="help-block"
      >
        Please enter a valid JobId
      </span> -->

        </div>
    
        <div class="row mx-auto">

        <!-- <button (click)="saveJob()" class="btn btn-success">Submit</button> -->
        <!-- <pre>{{job|json}}</pre> -->
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
        <!-- <pre class="mt-4"> {{ f1.value | json }}</pre> -->
        <!-- <pre class="mt-4"> {{ signupForm.value | json }}</pre> -->
        </div>

      </div>
    
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newJob()">Add</button>
      </div>
    </div>
  </div>
</form>
  