

<div >
  <app-welcometop [welcome]="resumeData.welcome"></app-welcometop>
  <app-about [about]="resumeData.about"></app-about>
  <app-skills [skills]="resumeData.professionalskills"></app-skills>
  <app-experiencelist [experience]="resumeData.workexperience"></app-experiencelist>
  <app-educationlist [education]="resumeData.education"></app-educationlist>
  
  <div class="section debug" >
    {{debugInfo}}
  </div>
  <div class="debug" *ngIf="1<0" > 
    <p>app-root (with {{angularversion}}) </p>
    <span>{{ title }} app is running!---- </span>
    <p>Here is service data: {{servicedata|json}}</p>
  </div>

</div>


<router-outlet></router-outlet>

<!-- <h1 class="text-3xl font-bold underline">Hello world!</h1> -->

